.filter-container {
    text-align: right;
    margin-top: 81px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 108px;
}

.category-selector {
    font-family: Helvetica45Light, sans-serif;
    color:  #20303c;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}


.filter-container .down-arrow {
    margin-left: 8px;
}

.top-strip-display {
    width: 70%;
    position: absolute;
    top: 0;
    right: 0;
}

.top-strip-display > li {
    display: inline-block;
    font-family: Helvetica55, sans-serif;
    font-size: 16px;/* Approximation due to font substitution */
    text-align: center;

}

.top-strip-display > li.selected {
    background-color: #65c888;
    color:  #ffffff;

}