@import "sidebar.css";
@font-face {
    font-family: Helvetica55;
    src: url(/src/style/Helvetiva55.ttf);
}

@font-face {
    font-family: Helvetica45Light;
    src: url(/src/style/Helvetiva45Light.ttf);
}

body {
    background-color: #eff1f2;
    margin: 0;
}

.user-sites-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    margin-right: 84px;
    margin-left: auto;
}

.user-site {
    background-color: #ffffff;
    box-shadow: 0 0 13px 0 rgba(41, 85, 115, 0.14);
    width: 402px;
    height: 445px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.site-name {
    font-family: Helvetica55, sans-serif;
    color: #20303c;
    font-size: 14px; /* Approximation due to font substitution */
    line-height: 24px; /* Approximation due to font substitution */
    text-align: left;
    transform: scaleX(1.0078); /* width and height properties ommitted due to transform */
}

.author {
    font-family: Helvetica45Light, sans-serif;
    color: #43515c;
    font-size: 14px; /* Approximation due to font substitution */
    font-weight: 300;
    line-height: 24px; /* Approximation due to font substitution */
    text-align: center;
    transform: scaleX(1.0078); /* width and height properties ommitted due to transform */
}

.user-site:not(:last-child) {
    margin-bottom: 48px;
}

.site-thumbnail {
    width: 402px;
    height: 258px;
}

.user-avatar {
    border-radius: 50%;
    background-color: #d9e1e8;
    width: 53px;
    height: 54px;
    text-align: center;
    margin-top: 25px;
}

.like-icon {
    height: 18px;
    width: 23px;
}

.social-bar {
    display: flex;
    flex-direction: row;
}

.social-bar img {
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle;
}

.like-icon-empty {
    display: inline-block;
}

.like-icon-full {
    display: none;
}

.liked > .like-icon-empty {
    display: none;
}

.liked > .like-icon-full {
    display: inline-block;
}

.social-section {
    display: inline-block;
    margin-top: 20px;
    color: #66737c;
    font-size: 16px; /* Approximation due to font substitution */
    font-weight: 300;
    line-height: 24px; /* Approximation due to font substitution */
    text-align: left;
    transform: scaleX(1.0078); /* width and height properties ommitted due to transform */
}

.social-section:not(:last-child) {
    margin-right: 23px;
}
body{
    margin: 1px;
}
/*popup*/

.user-site-popup {
    height: 1400px;
    border: 1px solid black;
}



.user-site-popup .author-container {
    float: left;
    background-color:  #ffffff;
    padding: 47px;
    width: 449px;
    height: 1007px;
    border: 1px solid black;
    box-sizing: border-box;
}
.user-site-popup .author-container .author-image {
    height: 200px;
    border: 1px solid black;
}
.user-site-popup .author-container .author-more-info {
    height: 200px;
    border: 1px solid black;
}
.user-site-popup .author-container .author-message-btn {
    height: 200px;
    border: 1px solid black;
}
.user-site-popup .author-container .author-more-sites {
    height: 200px;
    border: 1px solid black;
    font-family: HelveticaNeueW01,sans-serif;
    color: #20303c;
    font-size: 23.97px; /* Approximation due to font substitution */
    font-weight: 300;
    line-height: 36px; /* Approximation due to font substitution */
    text-align: left;
    transform: scaleY(1.0013); /* width and height properties ommitted due to transform */
}



.user-site-popup .site-container {
    background-color:  #eff1f2;
    float: left;
    padding-left: 84px;
    padding-right: 47px;
    padding-top: 92px;
    height: 100%;
    width: 976px;
    border: 1px solid black;
    box-sizing: border-box;
}
.user-site-popup .site-container .site-thumbnail{
    height: 520px;
    width: 100%;
    /*max-width:100%;*/
    /*max-height:100%;*/
    /*width: 850px;*/
    /*margin: 92px 0 0 0;*/
    border: 1px solid black;
}
.user-site-popup .site-container .site-thumbnail img{
    width:100%;
    height:100%;
}
.user-site-popup .site-container .site-social-triplet{
    height: 25px;
    width: 100%;
    /*width: 850px;*/
    margin-top: 32px;
    border: 1px solid black;
}


.user-site-popup .extra-container {
    /*float: left;*/
    margin-left: 1425px;
    padding-top: 124px;
    padding-right: 106px;
    height: 100%;
    /*width: 200px;*/
    border: 1px solid black;
    box-sizing: border-box;
}
.user-site-popup .extra-container .site-name {
    height: 50px;
    border: 1px solid black;
    margin-bottom: 40px;
}
.user-site-popup .extra-container .site-description {
    height: 50px;
    border: 1px solid black;
    margin-bottom: 40px;
}
.user-site-popup .extra-container .site-category {
    height: 50px;
    border: 1px solid black;
    margin-bottom: 47px;

}
.user-site-popup .extra-container .site-share {
    height: 50px;
    border: 1px solid black;
    margin-bottom: 40px;

}
.user-site-popup .extra-container .site-colors {
    height: 50px;
    border: 1px solid black;
    margin-bottom: 54px;

}
.user-site-popup .extra-container .site-tags {
    height: 50px;
    border: 1px solid black;
}

