@import "sidebar.css";
@font-face {
    font-family: Helvetica55;
    src: url(/src/style/Helvetiva55.ttf);
}

@font-face {
    font-family: Helvetica45Light;
    src: url(/src/style/Helvetiva45Light.ttf);
}

@font-face {
    font-family: Helvertica35Thin;
    src: url(/src/style/Helvetiva35Thin.ttf);
}

body {
    background-color: #eff1f2;
    margin: 0;
}

.user-sites-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    margin-right: 84px;
    margin-left: auto;
}

.user-site {
    background-color: #ffffff;
    box-shadow: 0 0 13px 0 rgba(41, 85, 115, 0.14);
    width: 402px;
    height: 445px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.site-name {
    font-family: Helvetica55, sans-serif;
    color: #20303c;
    font-size: 14px; /* Approximation due to font substitution */
    line-height: 24px; /* Approximation due to font substitution */
    text-align: left;
    transform: scaleX(1.0078); /* width and height properties ommitted due to transform */
}

.author {
    font-family: Helvetica45Light, sans-serif;
    color: #43515c;
    font-size: 14px; /* Approximation due to font substitution */
    font-weight: 300;
    line-height: 24px; /* Approximation due to font substitution */
    text-align: center;
    transform: scaleX(1.0078); /* width and height properties ommitted due to transform */
}

.user-site:not(:last-child) {
    margin-bottom: 48px;
}

.site-thumbnail {
    width: 402px;
    height: 258px;
}

.user-avatar {
    border-radius: 50%;
    background-color: #d9e1e8;
    width: 53px;
    height: 54px;
    text-align: center;
    margin-top: 25px;
}

.like-icon {
    height: 18px;
    width: 23px;
}

.social-bar {
    display: flex;
    flex-direction: row;
}

.social-bar img {
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle;
}

.like-icon-empty {
    display: inline-block;
}

.like-icon-full {
    display: none;
}

.liked > .like-icon-empty {
    display: none;
}

.liked > .like-icon-full {
    display: inline-block;
}

.social-section {
    display: inline-block;
    margin-top: 20px;
    color: #66737c;
    font-size: 16px; /* Approximation due to font substitution */
    font-weight: 300;
    line-height: 24px; /* Approximation due to font substitution */
    text-align: left;
}

.social-section:not(:last-child) {
    margin-right: 23px;
}
body{
    margin: 1px;
}
/*popup*/

.user-site-popup {
    height: 1400px;
    border: 1px solid black;
    /*font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif ;*/
    font-family: Helvetica35Thin, sans-serif;
    color: #20303c;

}



.user-site-popup .author-container {
    float: left;
    background-color:  #ffffff;
    padding: 47px;
    width: 449px;
    height: 1200px;
    /*1007px;*/
    /*border: 1px solid black;*/
    box-sizing: border-box;
    /*font-family: HelveticaNeueW01, sans-serif;*/
    font-size: 32px; /* Approximation due to font substitution */
    font-weight: 300;
    line-height: 44px; /* Approximation due to font substitution */
    text-align: center;
    transform: scaleY(1.0001); /* width and height properties ommitted due to transform */
}
.user-site-popup .author-container .author-image {
    height: 200px;
    /*border: 1px solid black;*/

}
.user-site-popup .author-container .author-image img{
    height: 165px;
    width: 165px;
    border-radius: 50%;

}
.user-site-popup .author-container .author-name {
    /*border: 1px solid black;*/
    margin-bottom: 16px;
}
.user-site-popup .author-container .author-more-info {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    transform: scaleY(1.0006);
}
.user-site-popup .author-container .author-message-btn {
    font-family: HelveticaNeue;
    color: #ffffff;
    font-size: 16px;
    /*line-height: 54px;*/
    text-align: center;

    margin: 25px auto 214px;
    border-radius: 21px;
    background-color: #459fed;
    width: 112px;
    height: 42px;
}
.user-site-popup .author-container .author-more-sites {
    height: 200px;
    /*border: 1px solid black;*/
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    transform: scaleY(1.0013);
    text-align: center;
}
.user-site-popup .author-container .author-more-sites img{
    width: 354px;
    margin-top: 16px;
}



.user-site-popup .site-container {
    background-color:  #eff1f2;
    float: left;
    padding-left: 84px;
    padding-right: 47px;
    padding-top: 92px;
    height: 100%;
    width: 976px;
    /*border: 1px solid black;*/
    box-sizing: border-box;
}
.user-site-popup .site-container .site-thumbnail{
    height: 520px;
    width: 100%;
    /*max-width:100%;*/
    /*max-height:100%;*/
    /*width: 850px;*/
    /*margin: 92px 0 0 0;*/
    /*border: 1px solid black;*/
}
.user-site-popup .site-container .site-thumbnail img{
    width:100%;
    height:100%;
}
.user-site-popup .site-container .site-social-triplet{
    height: 25px;
    width: 100%;
    /*width: 850px;*/
    margin-top: 32px;
    margin-bottom: 75px;
    /*border: 1px solid black;*/
}
.user-site-popup .site-container .site-social-triplet > div{
    display: inline-block;
    margin-right: 35px;
}
.user-site-popup .site-container .site-social-triplet > div > span{
    margin-right: 5px;
    color: #66737c;
    font-size: 24px; /* Approximation due to font substitution */
    font-weight: 300;
    line-height: 24px; /* Approximation due to font substitution */
    text-align: left;
    transform: scaleY(1.006); /* width and height properties ommitted due to transform */
}
.user-site-popup .site-container .site-social-triplet img{
    margin-right: 10px;
    width: 31px;
    height: 25px;

}
.user-site-popup .site-container .comments-counter{
    font-size: 32px;
    font-weight: 300;
    line-height: 44px;
    color:  #20303c;
}


.user-site-popup .extra-container {
    /*float: left;*/
    margin-left: 1425px;
    padding-top: 124px;
    padding-right: 106px;
    height: 100%;
    /*width: 200px;*/
    /*border: 1px solid black;*/
    box-sizing: border-box;
}
.user-site-popup .extra-container .sub-header {
    font-size: 14px; /* Approximation due to font substitution */
    line-height: 24px; /* Approximation due to font substitution */
    text-align: left;
}
.user-site-popup .extra-container .site-name {
    min-height: 50px;
    /*border: 1px solid black;*/
    margin-bottom: 40px;
    font-family: inherit;

    font-size: 48px;/* Approximation due to font substitution */
    font-weight: 100;
    line-height: 58px;/* Approximation due to font substitution */
    text-align: left;
    transform: scaleX(1.0004);/* width and height properties ommitted due to transform */
}
.user-site-popup .extra-container .site-description {
    min-height: 50px;
    /*border: 1px solid black;*/
    margin-bottom: 45px;

    font-size: 16px; /* Approximation due to font substitution */
    font-weight: 300;
    line-height: 24px; /* Approximation due to font substitution */
    text-align: left;
    transform: scaleX(1.0004); /* width and height properties ommitted due to transform */
}
.user-site-popup .extra-container .site-category {
    min-height: 50px;
    /*border: 1px solid black;*/
    margin-bottom: 30px;
    font-size: 14px;
    /*line-height: 54px;*/
}
.user-site-popup .extra-container .site-category div {
    display: inline-block;
    /*height: 36px;*/
    border-radius: 18px;
    background-color: #ffffff;
    /*vertical-align: middle;*/
    padding: 10px 23px ;
    margin-top: 15px;
}
.user-site-popup .extra-container .site-tags {
    height: 50px;
    /*border: 1px solid black;*/
    font-size: 32px;
    font-weight: 300;
    line-height: 44px;

}
.user-site-popup .extra-container .site-colors {
    min-height: 50px;
    /*border: 1px solid black;*/
    margin-bottom: 54px;
    font-size: 32px;
    font-weight: 300;
    line-height: 44px;

}
.user-site-popup .extra-container .site-colors .color-circle{
    float: left;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-top: 20px;
    margin-right: 12px;
}
.user-site-popup .extra-container .site-colors .pink{
    background-color: #f79a94;
}
.user-site-popup .extra-container .site-colors .blue{
    background-color: #4196e0;
}
.user-site-popup .extra-container .site-colors .yellow{
    background-color: #fbd102;
}
.user-site-popup .extra-container .site-colors .black{
    background-color: #606264;
}
.user-site-popup .extra-container .site-colors .green{
    background-color: #47a69e;
}
.user-site-popup .extra-container .social-share {
    min-height: 50px;
    /*border: 1px solid black;*/
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 300;
    line-height: 44px;

}

/*fixme permanent*/
/*.sidebar{*/
    /*display: none;*/
/*}*/
.site-header {
    background: #fff;
    padding: 20px 0;
    border-bottom: 1px #e5e5e5 solid;
    min-height: 300px;
    position: relative;
    overflow: hidden;
}