@font-face {
    font-family: Helvetica35Thin;
    src: url(/src/style/Helvetiva35Thin.ttf)
}

.sidebar {
    background-color: #65c888;
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    /*padding: 376px 0;*/
    transition: width 1s;
}

.sidebar-content {
    margin-top: 300px;
    text-align: center;
}

.sidebar-body {
    font-family: Helvetica55, sans-serif;
    color: #ffffff;
    font-size: 19px;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
    width: 321px;
    margin: 38px auto;
}

.sidebar-header {
    font-family: Helvetica25, sans-serif;
    color: #ffffff;
    font-size: 40px;
    /*margin: 0;*/
    /*margin: 16px 0;*/
    margin-bottom: 16px;
    letter-spacing: 2px;
}

.divider {
    background-color: #ffffff;
    width: 210px;
    height: 1px;
    margin: 0 auto;
}

.sidebar-toggler {
    background-color: #84d3a0;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    right: 0;
}

.sidebar-toggler-arrow {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar-toggler-closed {
    background-color: #84d3a0;
    width: 32px;
    height: 48px;
}

.sidebar-toggler-arrow-closed {
    transform: rotate(180deg);
    margin-top: 50%;
}

.sidebar.hidden {
    background-color: #65c888;
    width: 32px;
    height: 100%;
}