@font-face {
    font-family: Helvetica35Thin;
    src: url(/src/style/Helvetiva35Thin.ttf)
}

.sidebar {
    background-color: #65c888;
    width: 450px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    /*padding: 376px 0;*/
    transition: transform 1s;
}

.sidebar-content {
    margin-top: 300px;
    text-align: center;
}

.sidebar-body {
    font-family: Helvetica45Light, sans-serif;
    color: #ffffff;
    font-size: 19px;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
    width: 321px;
    height: 115px;
    margin: 44px auto;
}

.sidebar-header {
    font-family: Helvetica25, sans-serif;
    color: #ffffff;
    font-size: 40px;
    /*margin: 0;*/
    /*margin: 16px 0;*/
    margin-bottom: 16px;
}

.divider {
    background-color: #ffffff;
    width: 206px;
    height: 1px;
    margin: 0 auto;
}

.sidebar-toggler {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    width: 42px;
    height: 42px;
    position: absolute;
    top: 141px;
    right: 72px;
}

.sidebar-toggler-arrow {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.hidden {
    transform: translateX(-100%);
}